.App {
  text-align: center;
}
.card{
  background-color: aquamarine;
  text-shadow: beige;
  font-weight: bold;
  padding: 40px;
  margin: 40px;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
.movie{
   width: 300px;
   margin: 1em;
   position: relative;
   overflow: hidden;
   border-radius: 5px;
   box-shadow: 3px 3px 5px rgba(red, green, blue, alpha);
}
.movie img{
  max-width: 100%;
}
.movie_container{
  display: flex;
  flex-wrap: wrap;
}
.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-info>h3{
  margin: 0;
}
.movie-over{
 position: absolute;
 background-color: rgba(7, 3, 0, 0.884);
 color: seashell;
 padding: 1em;
 max-height: 100%;
 bottom: 0;
 left:0;
 right:0;
 transform: translateY(100%);
 transition: 0.5s ease-in-out;
}
.movie:hover .movie-over{
  transform: translateY(0%);
}